<form>
    <input type="hidden" name="previousId" />
    <input type="text" placeholder="عنوان" name="Title" />
    <textarea placeholder="متن" name="Description"></textarea>
    <input type="file" placeholder="تصویر" name="BinImage" />
    <select name="Type">
        <option value="scie">آموزشی</option>
        <option value="entr">سرگرمی</option>
        <option value="inte">داخلی</option>
        <option value="reso">منابع آموزشی</option>
    </select>

    <input type="submit" id="duplicate" value="کپی">
    <input type="submit" id="insert" value="ارسال">
    <input type="submit" id="edit" value="ویرایش">
    <input type="submit" id="delete" value="حذف">
    <input type="submit" id="cancel" value="انصراف">
</form>