<h1>ویرایش</h1>
<form>
    <input type="hidden" name="previousId" />
    <input type="text" placeholder="عنوان" name="Title" />
    <input type="hidden" name="Submit" />
    <input type="text" placeholder="گزینه‌ی یک" name="Choice1" />
    <input type="text" placeholder="گزینه‌ی دو" name="Choice2" />
    <input type="text" placeholder="گزینه‌ی سه" name="Choice3" />
    <input type="text" placeholder="گزینه‌ی چهار" name="Choice4" />

    <input type="submit" id="insert" value="ارسال">
    <input type="submit" id="edit" value="ویرایش">
    <input type="submit" id="delete" value="حذف">
    <input type="submit" id="cancel" value="انصراف">
</form>
