<h1>ثبت نام</h1>
<form id="register">
    <input type="text" placeholder="نام کاربری" name="Username" />
    <input type="password" placeholder="رمز عبور" name="HashPassword" />
    <input type="text" placeholder="نام" name="Firstname" />
    <input type="text" placeholder="نام خانوادگی" name="Lastname" />
    <input type="text" placeholder="کد ملی" name="NationalCode" />
    
    <input type="submit" value="ثبت نام کنید">
    <input type="button" id="nav_login" value="قبلا ثبت نام کرده اید؟">

</form>