<h1>ویرایش</h1>
<form>

    <input type="hidden" name="previousId" />
    <input type="text" placeholder="نام کاربری" name="Username" />
    <input type="password" placeholder="رمز عبور" name="HashPassword" />
    <input type="password" placeholder="تکرار کلمه‌ی عبور" name="Confirm" />
    <input type="text" placeholder="نام" name="Firstname" />
    <input type="text" placeholder="نام خانوادگی" name="Lastname" />
    <input type="text" placeholder="کد ملی" name="NationalCode" />
    <input type="file" placeholder="تصویر" name="BinImage" />
    <select name="Type">
        <option value="ADMIN">سوپر ادمین</option>
        <option value="OPERATOR">ادمین</option>
        <option value="USER">کاربر</option>
    </select>

    <input type="submit" id="duplicate" value="کپی">
    <input type="submit" id="insert" value="ارسال">
    <input type="submit" id="edit" value="ویرایش">
    <input type="submit" id="delete" value="حذف">
    <input type="submit" id="cancel" value="انصراف">
</form>
