.btn1 {
	background: rgb(255, 255, 255);
	border: 1px solid rgb(174, 174, 174);
	border-radius: 4px;
	box-shadow: inset 0 0 7px rgb(236, 236, 236), 0 1px 1px rgb(232, 232, 232);
	color: rgb(109, 111, 118); 
	cursor: pointer;
	font-size: 1em;
	height: 30px;
	line-height: 23px;
	transition: color 0.3s ease-out, border-color 0.3s ease-out, box-shadow 0.3s ease-out;
}

.btn1.hover,
.btn1:hover {
	color: rgb(72, 156, 206);
	border-color: rgb(92, 176, 226);
	box-shadow: inset 0 0 7px rgb(224, 239, 249), 0 1px 1px rgb(163, 205, 229);
}

.btn1.inactive {
	opacity: 0.7;
}