#export{
  background-image: url('../img/export.png');
  background-repeat: no-repeat;
  background-size: 1em 1em;
  background-position: right center;
  background-position-x: 1em;
  padding-left: 2.5em;
}