nav.pagination-container{
    display: block;
    text-align: center;
    direction: rtl;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: none;
}
ul.pagination {
    display: block;
    padding: 0;
    margin: 0;
}
ul.pagination li{
    display: inline-block;
    
    height: 1em;
    margin: .5em;
}
#search{
    margin: 0;
}
.disabled{
  cursor: not-allowed;
}
.prev{

}
.next{
  
}
.last, .first{

}
