table td {
    font-weight: normal;
    font-size: 1em;
}

table {
    text-align: right;
    width: 100%;
    border-radius: 1em;
    display: table;
}

table tr{
    display: table-row;
}

table td, table th {
    padding: .5em;
    height: 3em;
}

table tr:nth-child(odd) {
    background-color: #c4e1ff;
}

table tr:nth-child(even) {
    background-color: #fff4de;
}

table th {
    background-color: #1F2739;
    color: white;
    font-size: bold;
}

table td:first-child {
    width: 10em;
    text-align: center;
 }

 table tr:hover {
     background-color: #e89005;
    }
    
    table tr td img{
        display: block;
        margin:0 auto 0 auto;
        max-width: 100%;
        max-height: 100%;
    }

table tr td input[type="button"]{
   margin: .25em;
   padding: 0.25em;
   border: none;
   background:none;
   color: inherit;
}
table tr td input[type="button"]:hover{
    text-decoration: underline;
}